.gameContainer {
	position: relative;
	background-color: #f0f0f0;
	border: 2px solid #333;
	margin: 20px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.gameHeader {
	text-align: center;
	color: #333;
	padding: 10px 0;
	font-size: 24px;
	background-color: #ddd;
	border-bottom: 2px solid #333;
}

.scoreboard {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #eee;
	color: #333;
	border-bottom: 2px solid #333;
}

.paddle {
	position: absolute;
	width: 20px;
	height: 100px;
	background-color: #333;
}

.paddle.left {
	left: 20px;
}

.paddle.right {
	right: 20px;
}

.ball {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;
}

.readyButton {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

.readyButton:hover {
	background-color: #45a049;
}
