/*game.css*/

.game-arena {
	width: 100%;
	max-width: 600px; /* Adjust the max-width as per your requirement */
	height: 400px; /* Adjust the height as needed */
	margin: 0 auto;
	border: 6px solid #000; /* Black border for the arena */
	box-sizing: border-box;
	position: relative;
	overflow: hidden; /* Prevents elements from crossing the borders */
	box-sizing: border-box;
}

.paddle {
	position: absolute;
	width: 20px; /* Width of the paddle, adjust as needed */
	height: 100px; /* Height of the paddle, adjust as needed */
	background: linear-gradient(to top, #555, #ddd); /* Gives a metallic look */
	border-radius: 10px; /* Rounded corners for a better look */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Soft shadow for a 3D effect */
}

@media screen and (max-width: 768px) {
	.game-arena {
		max-width: 100%;
		height: 300px;
	}
}
