.inputField {
	margin: 5px 0;
	padding: 12.5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.error {
	background: #ff7171;
	border: solid #ff0000;
	border-radius: 25px;
	padding: 12.5px;
	margin: 5px;
}

.warning {
	background: #ffb46b;
	border: solid #ff7f00;
	border-radius: 25px;
	padding: 12.5px;
	margin: 5px;
}

.submitButton {
	padding: 10px 15px;
	border-radius: 5px;
	background-color: blue;
	color: white;
	border: none;
	cursor: pointer;
}
